.radio_group {
  border: none;
}

.radio_control {
  display: flex;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  width: 0;
}

.radio_control + label::before,
.radio_control + label::after {
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  content: '';
  display: inline-block;
  left: calc(-1 * var(--spacing-md));
  position: absolute;
}

.radio_control + label::before {
  border: 2px solid var(--col-interactive-02);
  border-radius: 100%;
  width: var(--spacing-md);
  height: var(--spacing-md);
  transition: all 0.125s ease-out;
}

.radio_control:checked + label::before {
  background-color: var(--col-interactive-01);
  box-shadow: inset 0 0 0 var(--spacing-2xs) transparent;
  border-color: var(--col-interactive-02);
}

.radio_control:disabled + label {
  cursor: not-allowed;
}

.radio_control:disabled + label::before {
  border-color:  var(--col-disabled);
}
.radio_control:disabled:checked + label::before {
  background-color: var(--col-disabled);
}

.radio_label {
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: flex;
  padding: var(--spacing-3xs);
  padding-top: 0;
  margin-inline-start: var(--spacing-md);
  align-items: center;
  font-family: var(--font-stack-display);
}

.radio_label:active,
.radio_label:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.radio_control:focus + .radio_label::before {
  outline: 3px solid var(--col-focus);
  border-color: transparent;
}

.radio_helpertext {
  color: var(--col-text-secondary);
  margin-inline-start: var(--spacing-md);
  padding-left: var(--spacing-sm);
  font-size: var(--size-font-sm);
}

label.radio_label:not([for]) {
  color: red !important;
}

label.radio_label:not([for]):after {
  content: "This radio button needs an ID.";
  top: -20px;
}