:root {
  --swatch-gray-100: #262626;
  --swatch-gray-90: #424242;
  --swatch-gray-80: #505050;
  --swatch-gray-70: #636363;
  --swatch-gray-60: #767775;
  --swatch-gray-50: #959595;
  --swatch-gray-40: #a3a3a3;
  --swatch-gray-30: #c3c3c3;
  --swatch-gray-20: #e1e1e1;
  --swatch-gray-10: #f3f3f3;

  --swatch-violet-100: #410f47;
  --swatch-violet-90: #6e1b77;
  --swatch-violet-80: #84228f;
  --swatch-violet-70: #a02eae;
  --swatch-violet-60: #b742cb;
  --swatch-violet-50: #c970ea;
  --swatch-violet-40: #d086f2;
  --swatch-violet-30: #e2b1fc;
  --swatch-violet-20: #f1d9fe;
  --swatch-violet-10: #faf1fe;

  --swatch-red-100: #4e0e11;
  --swatch-red-90: #82181d;
  --swatch-red-80: #9d1c23;
  --swatch-red-70: #ba2b32;
  --swatch-red-60: #D53F46;
  --swatch-red-50: #e77075;
  --swatch-red-40: #eb878c;
  --swatch-red-30: #f3b4b7;
  --swatch-red-20: #f9dbdd;
  --swatch-red-10: #fcf0f0;

  --swatch-ochre-100: #281000;
  --swatch-ochre-90: #552200;
  --swatch-ochre-80: #722D00;
  --swatch-ochre-70: #8B3600;
  --swatch-ochre-60: #A74509;
  --swatch-ochre-50: #C35619;
  --swatch-ochre-40: #DE7A40;
  --swatch-ochre-30: #ECA87E;
  --swatch-ochre-20: #F4CBB1;
  --swatch-ochre-10: #FAE6DB;

  --swatch-cyan-100: #082b29;
  --swatch-cyan-90: #0e4a46;
  --swatch-cyan-80: #115a55;
  --swatch-cyan-70: #146e68;
  --swatch-cyan-60: #17856D;
  --swatch-cyan-50: #1da69e;
  --swatch-cyan-40: #24b6ae;
  --swatch-cyan-30: #4bd7cf;
  --swatch-cyan-20: #a0f0eb;
  --swatch-cyan-10: #dffaf8;

  --swatch-lime-100: #0b2d09;
  --swatch-lime-90: #124d0f;
  --swatch-lime-80: #165d12;
  --swatch-lime-70: #1b7316;
  --swatch-lime-60: #22881B;
  --swatch-lime-50: #2dab24;
  --swatch-lime-40: #34bc2b;
  --swatch-lime-30: #49df41;
  --swatch-lime-20: #abf3a7;
  --swatch-lime-10: #e1fbe0;

  --swatch-white: #FEFEFE;
  --swatch-black: #222222;

  --base-size: var(--base-font-size, 1.16rem);
  --base-scaler: var(--base-font-scaler, 1.125);
  --base-line-height-body: var(--base-line-height-body, 1.4);
  --base-line-height-header: var(--base-line-height-header, 1.3);
  --scaler-pow-2: calc( var(--base-scaler) * var(--base-scaler));
  --scaler-pow-3: calc( var(--scaler-pow-2) * var(--base-scaler));
  --scaler-pow-4: calc( var(--scaler-pow-3) * var(--base-scaler));

  --grid-maxwidth: 1200px;
  --grid-2: 600px;
  --grid-4: 300px;
  --grid-6: 200px;
  --grid-8: 150px;
  
  --spacing-3xs: calc(var(--base-size) / var(--scaler-pow-4));
  --spacing-2xs: calc(var(--base-size) / var(--scaler-pow-3));
  --spacing-xs: calc(var(--base-size) / var(--scaler-pow-2));
  --spacing-sm: calc(var(--base-size) / var(--base-scaler));
  --spacing-md: var(--base-size);
  --spacing-lg: calc(var(--base-size) * var(--base-scaler));
  --spacing-xl: calc(var(--base-size) * var(--scaler-pow-2));
  --spacing-2xl: calc(var(--base-size) * var(--scaler-pow-3));
  --spacing-3xl: calc(var(--base-size) * var(--scaler-pow-4));

  --size-font-sm: calc(var(--base-size) / var(--base-scaler));
  --size-font-md: var(--base-size);
  --size-font-lg: calc(var(--base-size) * var(--base-scaler));
  --size-font-xl: calc(var(--base-size) * var(--base-scaler) * var(--base-scaler));

  --size-border-radius: var(--border-radius, var(--spacing-xs));
  --size-border-width: var(--border-width, 1px);

  --field-width-2x: calc(var(--base-size) * 2);  /* ~2.32rem */
  --field-width-4x: calc(var(--base-size) * 4);  /* ~4.64rem */
  --field-width-8x: calc(var(--base-size) * 8);  /* ~9.28rem */
  --field-width-12x: calc(var(--base-size) * 12); /* ~13.92rem */
  --field-width-16x: calc(var(--base-size) * 16); /* ~18.56rem */
  --field-width-24x: calc(var(--base-size) * 24); /* ~27.84rem */

  --theme-interface-00: var(--color-interface-00, var(--swatch-white));
  --theme-interface-10: var(--color-interface-10, var(--swatch-gray-10));
  --theme-interface-20: var(--color-interface-20, var(--swatch-gray-20));
  --theme-interface-30: var(--color-interface-30, var(--swatch-gray-30));
  --theme-interface-40: var(--color-interface-40, var(--swatch-gray-40));
  --theme-interface-50: var(--color-interface-50, var(--swatch-gray-50));
  --theme-interface-60: var(--color-interface-60, var(--swatch-gray-60));
  --theme-interface-70: var(--color-interface-70, var(--swatch-gray-70));
  --theme-interface-80: var(--color-interface-80, var(--swatch-gray-80));
  --theme-interface-90: var(--color-interface-90, var(--swatch-gray-90));
  --theme-interface-100: var(--color-interface-100, var(--swatch-gray-100));

  --theme-primary-00: var(--color-primary-00, var(--swatch-white));
  --theme-primary-10: var(--color-primary-10, var(--swatch-violet-10));
  --theme-primary-20: var(--color-primary-20, var(--swatch-violet-20));
  --theme-primary-30: var(--color-primary-30, var(--swatch-violet-30));
  --theme-primary-40: var(--color-primary-40, var(--swatch-violet-40));
  --theme-primary-50: var(--color-primary-50, var(--swatch-violet-50));
  --theme-primary-60: var(--color-primary-60, var(--swatch-violet-60));
  --theme-primary-70: var(--color-primary-70, var(--swatch-violet-70));
  --theme-primary-80: var(--color-primary-80, var(--swatch-violet-80));
  --theme-primary-90: var(--color-primary-90, var(--swatch-violet-90));
  --theme-primary-100: var(--color-primary-100, var(--swatch-violet-100));

  --theme-secondary-00: var(--color-secondary-00, var(--swatch-white));
  --theme-secondary-10: var(--color-secondary-10, var(--swatch-cyan-10));
  --theme-secondary-20: var(--color-secondary-20, var(--swatch-cyan-20));
  --theme-secondary-30: var(--color-secondary-30, var(--swatch-cyan-30));
  --theme-secondary-40: var(--color-secondary-40, var(--swatch-cyan-40));
  --theme-secondary-50: var(--color-secondary-50, var(--swatch-cyan-50));
  --theme-secondary-60: var(--color-secondary-60, var(--swatch-cyan-60));
  --theme-secondary-70: var(--color-secondary-70, var(--swatch-cyan-70));
  --theme-secondary-80: var(--color-secondary-80, var(--swatch-cyan-80));
  --theme-secondary-90: var(--color-secondary-90, var(--swatch-cyan-90));
  --theme-secondary-100: var(--color-secondary-100, var(--swatch-cyan-100));

  --theme-tertiary-00: var(--color-tertiary-00, var(--swatch-white));
  --theme-tertiary-10: var(--color-tertiary-10, var(--swatch-red-10));
  --theme-tertiary-20: var(--color-tertiary-20, var(--swatch-red-20));
  --theme-tertiary-30: var(--color-tertiary-30, var(--swatch-red-30));
  --theme-tertiary-40: var(--color-tertiary-40, var(--swatch-red-40));
  --theme-tertiary-50: var(--color-tertiary-50, var(--swatch-red-50));
  --theme-tertiary-60: var(--color-tertiary-60, var(--swatch-red-60));
  --theme-tertiary-70: var(--color-tertiary-70, var(--swatch-red-70));
  --theme-tertiary-80: var(--color-tertiary-80, var(--swatch-red-80));
  --theme-tertiary-90: var(--color-tertiary-90, var(--swatch-red-90));
  --theme-tertiary-100: var(--color-tertiary-100, var(--swatch-red-100));

  --theme-success-00: var(--color-success-00, var(--swatch-white));
  --theme-success-10: var(--color-success-10, var(--swatch-lime-10));
  --theme-success-20: var(--color-success-20, var(--swatch-lime-20));
  --theme-success-30: var(--color-success-30, var(--swatch-lime-30));
  --theme-success-40: var(--color-success-40, var(--swatch-lime-40));
  --theme-success-50: var(--color-success-50, var(--swatch-lime-50));
  --theme-success-60: var(--color-success-60, var(--swatch-lime-60));
  --theme-success-70: var(--color-success-70, var(--swatch-lime-70));
  --theme-success-80: var(--color-success-80, var(--swatch-lime-80));
  --theme-success-90: var(--color-success-90, var(--swatch-lime-90));
  --theme-success-100: var(--color-success-100, var(--swatch-lime-100));

  --col-text: var(--color-text, var(--theme-interface-100));
  --col-text-secondary: var(--color-text-secondary, var(--theme-secondary-80));
  --col-text-inverse: var(--color-text-inverse, var(--theme-interface-00));

  --col-background: var(--color-background, var(--theme-interface-00));
  --col-backdrop: var(--color-backdrop, var(--theme-interface-10));
  --col-backdrop-inverse:  var(--color-backdrop-inverse, var(--theme-interface-90));
  --col-border: var(--color-border, var(--theme-interface-40));
  --col-shadow: var(--color-shadow, var(--swatch-black));

  --col-button: var(--color-button, var(--theme-secondary-70));
  --col-button-hover: var(--color-button-hover, var(--theme-secondary-80));
  --col-button-active: var(--color-button-active, var(--theme-secondary-30));
  --col-button-label: var(--color-button-label, var(--theme-secondary-00));

  --col-button-primary: var(--color-button-primary, var(--theme-primary-60));
  --col-button-primary-hover: var(--color-button-primary-hover, var(--theme-primary-70));
  --col-button-primary-active: var(--color-button-primary-active, var(--theme-primary-70));
  --col-button-primary-label: var(--color-button-primary-label, var(--col-text-inverse));

  --col-button-warning: var(--color-button-warning, var(--theme-tertiary-60));
  --col-button-warning-hover: var(--color-button-warning-hover, var(--theme-tertiary-70));
  --col-button-warning-active: var(--color-button-warning-active, var(--theme-tertiary-70));
  --col-button-warning-label: var(--color-button-warning-label, var(--col-text-inverse));

  --col-focus: var(--color-interactive-01-hover, var(--theme-primary-70));
  --col-interactive-01: var(--color-interactive-01, var(--theme-primary-70)); /* 4.5:1 ratio */
  --col-interactive-01-hover: var(--color-interactive-01-hover, var(--theme-primary-80)); /* 4.5:1 ratio */
  --col-interactive-01-inverse:  var(--color-interactive-01-inverse, var(--theme-primary-80));
  --col-interactive-02: var(--color-interactive-02, var(--theme-secondary-50)); /*   3:1 ratio */
  --col-interactive-border: var(--color-interactive-border, var(--theme-primary-50));
  --col-disabled: var(--color-disabled, var(--theme-interface-30));
  --col-error: var(--color-error, var(--theme-tertiary-60));
  --col-success: var(--color-success, var(--theme-success-60));
}

* {
  margin: 0;
  padding: 0;
  color: var(--col-text);
  box-sizing: border-box;
}

body {
  background: var(--col-background);
}

fieldset {
  border: none;
}
div, p, span, a, rt, rp, dfn, abbr, q, cite, em, time, var,
samp, i, b, sub, sup, small, strong, mark, ruby, ins, del,
bdi, bdo, s, kbd, wbr, pre, textarea {
  font-family: var(--typeface-body,Tahoma,Verdana,Segoe,sans-serif); 
  font-size: var(--size-font-md);
}

/* 
If a Code component is made, style that to not do pre-wrap
instead of removing this rule
*/
pre {
  white-space: pre-wrap;
}

p {
  margin-block-end:  var(--spacing-md);
  margin-block-start:  var(--spacing-sm);
}

h1 {
  color: var(--theme-primary-40);
}
h2 {
  color: var(--theme-interface-70);
}

.DisplayText {
  font-family: var(--typeface-heading, Tahoma,Verdana,Segoe,sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--typeface-heading, Tahoma,Verdana,Segoe,sans-serif);
}

ul {
  list-style-type: none;
}

li {
  padding-block-end: var(--spacing-xs);
}
li:last-of-type {
  padding-block-end: 0;
}

/* width */
::-webkit-scrollbar {
  width: var(--spacing-md);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--col-background-20);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-interactive-01)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--col-interactive-01-hover)
}

.SkeletonLoading {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    var(--theme-interface-30);
  background-repeat: repeat-y;
  background-size: 3rem 13rem;
  background-position: 0 0;
  animation: skeleton-loading 1s infinite
}

@keyframes skeleton-loading {
   to {
    background-position: 100% 0, 0 0;
  }
}